ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    display: flex;
    justify-content: center; /* centers items horizontally */
    overflow: auto;
    opacity: 100%;
  }
  
  li:last-child {
    border-right: none;
  }
  
  a {
    padding: 11px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    opacity: 100%;
    font-size: x-large;
    font-family: monospace   
  }
  

  body {
    background-image: linear-gradient(to right, rgb(86, 0, 0) , rgb(26, 26, 26), rgb(2, 0, 94))
    }

  .Logo {
    animation: Animation 2s ease-in forwards;
}

@keyframes Animation {

   from {
    opacity: 0;
   }

   to {
    opacity: 1;
   }


}

  